bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/

.idea/
*.iml
*.ipr
*.iws

Buggernaut/solutions/*
Buggernaut/tests/*
Buggernaut/src/*

Buggernaut/nupkg/*.nupkg

**/appsettings.Local.json
**/appsettings.Development.json
**/*.env
.env

.vs/
*.rsuser

.DS_Store
Thumbs.db
desktop.ini
